<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studymate.mapper.StudyJoinRequestMapper">
	<!--스터디에 신청한 사용자인지 확인-->
	<select id="existsJoinRequest" resultType="boolean">
    select exists (
        select 1
        from study_join_request
        where study_id = #{studyId}
          and member_id = #{memberId}
    )
	</select>
	
	<!--신청서 등록-->
	<insert id="insertJoinRequest">
    insert into study_join_request (
        study_id,
        member_id,
        message
    )
    values (
        #{studyId},
        #{memberId},
        #{message}
    )
    </insert>
    
    <!--신청자 목록 조회-->
    <select id="findJoinRequests" resultType="com.studymate.domain.StudyJoinRequest">
    	select j.*, m.gender, m.nickname
    	from study_join_request j
    	join member m
    		on j.member_id = m.member_id
    	where j.study_id = #{studyId}
    	order by j.applied_at asc
    </select>
    
    <!--승인/거절 시 신청자 목록에서 삭제-->
    <delete id="deleteJoinRequest">
    	delete from study_join_request
    	where study_id = #{studyId}
    		and member_id = #{memberId}
    </delete>
    
</mapper>